{%- if section.settings.menu != blank -%}
      <nav class="header__primary-menu header__inline-menu">
        <div class="page-width">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <details-disclosure>
                    <details>
                      <summary class="header__menu-item list-menu__item focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      </summary>
                      <ul class="header__mega-menu header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                        <div class="page-width">
                          {%- for childlink in link.links -%}
                          <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
                            <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level site-nav__dropdown-link--has-children">
                              {{ childlink.title | escape }}
                              {%- if has_sub_dropdown -%}
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
                              {%- endif -%}
                            </a>
                              <ul class="site-nav__deep-dropdown">
                                {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                          </li>
                          {%- endfor -%}
                        </div>
                      </ul>
                    </details>
                  </details-disclosure>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </nav>
    {%- endif -%}

  {% unless section.settings.announcement_above_header %}
    {% render 'announcement-bar' %}
  {% endunless %}
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>